%h1 Gruppeninformationen bearbeiten
%div{ :class => "row" }
  %div
    = render(:partial => "editgroup", :id => :id )
%div{ :class => "row" }
  %div
    = form_for(@group.appointments.build(group_id: @group.id)) do |f|
      = f.hidden_field :group_id, :default => @group.id
      = f.hidden_field :group_id, :default => :id
      %br
      = submit_tag 'Speichern', :class => 'btn btn-large btn-primary'
