%h1 Gruppeninformationen bearbeiten
%div{ :class => "row" }
  %div
    = render(:partial => "editgroup", :id => :id )
  %div
    %h3 Termine
    %table
      %tr
        %td Datum
        %td entfallen
        %td Grund
        %td Kommentar
      - @appointments.each do |appointment|
        = render appointment
    %br
    %h3 Neuer Termin
    %div
      %div
        %table
          = form_for @group.appointments.build(group_id: @group.id) do |f|
            %tr
              %td
                = f.hidden_field :group_id, :default => @group_id
                = f.label "Datum"
                = f.date_select :date_at, :start_year => Time.now.year, :end_year => Time.now.year + 1, :include_blank => true
            %tr
              %td
                = f.label "ausgefallen"
                = f.select :canceled, [["nein",false],["ja",true]], :default => false
            %tr
              %td
                = f.label "Grund"
                = f.select :reason, [["Feiertag", 1],["Krankheit",2],["anderes",3]], :include_blank => true
            %tr
              %td
                = f.label "Kommentar"
                = f.text_field :comment
                = submit_tag 'Speichern', :class => 'btn btn-large btn-primary'
