= provide(:title, 'Neuer Nutzer')
%h1 Neuer Nutzer

%div{ :class => "row" }
  %div{ :class => "span6 offset3" }
    = form_for @user do |f|
      = render :partial => 'shared/error_messages'
      = f.label :lastname
      = f.text_field :lastname
      = f.label :firstname
      = f.text_field :firstname
      =f.label :email
      =f.text_field :email
      =f.label :password
      =f.password_field :password
      =f.label :password_confirmation, "Confirmation"
      =f.password_field :password_confirmation
      = submit_tag 'Speicher', :class => 'btn btn-large btn-primary'


