= provide(:title, @user.lastname)
%div
  %aside{ :class => "row" }
    %section{ :class => "span4" }
      %h1
        = gravatar_for @user
        = @user.firstname + " "  + @user.lastname 
%table
  %tr
    %th Vorname
    %th Familienname
    %th email
  %tr
    %td= @user.firstname
    %td= @user.lastname
    %td= @user.email
