%header{ :class => "navbar navbar-fixed-top"}
  %div{ :class => "navbar-inner" }
    %div{ :class => "container" }
    = link_to "Entwurf Sportprojekt", "#", id: "logo"
    %nav
      %ul{ :class => "nav pull-right"}
        %li= link_to "Home", home_path
        %li= link_to "Help", help_path
        - if signed_in?
          %li= link_to "Users", users_path
          %li{ :id => "fat-menu", :class => "dropdown" }
            %a{ :href => "#", :class => "dropdown-toggle", "data-toggle" =>  "dropdown" } 
              Account
              %b{ :class => "caret" }
            %ul{ :class => "dropdown-menu" }
              %li= link_to "Profile", "#"
              %li= link_to "Settings", edit_user_path(current_user)
              %li{ :class => "divider" }
              %li= link_to "LogOut", signout_path, method: "delete"
        - else
          %li= link_to "LogIn", signin_path
       
  

