!!!
%head
  %title= title
  = csrf_meta_tag
  = render :partial => "layouts/stylesheets"
%body
  .container
    %header 
    = render :partial => "layouts/header"
    %section
      .content#content= yield   
    %footer
    = render :partial => "layouts/footer" 
